---

- name: Add RabbitMQ key
  apt_key: url=https://www.rabbitmq.com/rabbitmq-release-signing-key.asc state=present id=6026DFCA

- name: Add RabbitMQ repository
  apt_repository: repo='deb http://www.rabbitmq.com/debian/ testing main' update_cache=yes

- name: Ensure RabbitMQ is installed
  apt: pkg=rabbitmq-server

